<launch> 
  <node pkg="smartcar" name="cameranode" type="cameranode_myn.py" output="screen">
    <param name="device" value="1"/>
    <param name="width" value="1280"/>
    <param name="height" value="720"/>
    <param name="rates" value="10"/>
  </node>
  <node pkg="smartcar" name="traffic_light_detection" type="traffic_light_detection_DL.py" output="screen"/>
</launch>
